@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 64px;
    color: #FFFF;
}

/* Top banner style start  */
.section-width{
    display: flex;
}
.top-banner{

    background-color: #2D25A0;
    /* position: fixed; */
    width: 100%;
    height: 677px;
  
}
.link-btn{
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 500;
    
    color: white ;
    padding: 10px 15px;

}
.arrow{
    margin-left: 8px;
}
.half-width{
    width: 50%;
    padding-left: 156px;
    padding-top: 135px;

}
.half-width img{
    width: 556px;
    height: 438px;
    margin-left: -70px;
   
}
/* Top banner style end  */

/* Players content styles */
.players-info{
    margin-top: 70px;
    margin-left: 90px;
    margin-right: 210px;
    /* width: 100%; */
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;


}
.player{
    width: 330px;
    height: 474px;
    border: 2px solid black;
    /* text-align: center; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* position: absolute; */
    border-radius: 5px;
    padding-left: 24px;


}
.player img{
    width: 300px;
    height: 256px;

    /* width: 50%; */
    margin-top: 16px;
    /* margin-left: 12px;
    margin-right: 12px; */
}
/* .blog-text{
    border: 2px solid black;
    margin-left: 122px;
} */


